:root {
  --black: black;
  --main-bg-color: #0a0c0f;
  --secondary-bg-color: #1D1F22;
  --thirdrate-bg-color: #22252a;
  --bg-color_4: #16181d;
  --active-bg-color: #2F3133;
  --active-bg-color-opasity: #2f31336a;
  --main-text-color: #d5d8dd;
  --secondary-text-color: #96989A;
  --thirdrate-text-color: #6f7276;
}

